@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.header{
  position: relative;
}
.s{
  margin-left: 20%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background: #E64848;
  border-radius: .5rem;

}

.btn:hover {
  background: #130f40;
}
.box-container{
  display: inline-block;
  margin: 30px;
}
.box{
  margin: auto;
  align-content: center;
}
/* .box-container {*/
/*  display: -ms-grid;*/
/*  display: grid;*/
/*  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];*/
/*  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));*/
/*  gap: 1.5rem;*/
/*}*/


.box-container .box {
  border-radius: .5rem;
  background: #f7f7f7;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: .5rem;
}

.box-container .box:hover {
  background: #ababab;
}

 .box-container .box:hover .content h3 {
  color: #fff;
}

 .box-container .box img {
  height: 6rem;
}

 .box-container .box .content h3 {
  font-size: 20px;
  color: #130f40;
  padding-bottom: .5rem;
}

 .box-container .box .content .price {
  font-size: 18px;
  color: #000000;
}

img{
  width: 6rem;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}

.heading span {
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  color: #E64848;
}

.heading h3 {
  font-size: 3rem;
  color: #E21818;
}
