<div class="login blue-button buy-button" *ngIf="!this.logged" routerLink="/signin">Log in to see cart</div>
<div class="page-borders" *ngIf="this.logged">
  <div class="profile-card">
    <div>Username:</div>
    <div>email:</div>
    <div>first name:</div>
    <div>last name:</div>
    <div>country:</div>
    <div>city:</div>
    <div>address:</div>
    <div>postal code:</div>
    <div>telephone:</div>
  </div>
  <div class="profile-card for-buttons">
    <div class="blue-button" (click)="toSettings()">Settings</div>
    <div class="red-button" (click)="logOut()">Log out</div>
  </div>
</div>
